/* Button.css */
sp-button {
    --spectrum-alias-ui-brand-color-background-active: #0072ce; /* Change button background color */
    --spectrum-alias-ui-brand-color-background-hover: #005a9c; /* Change button background color on hover */
    --spectrum-alias-ui-brand-color-background: #0072ce; /* Default button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Button font size */
    background-color: #0164DB;
    border-radius: 20px;
  }